.txt-center{
    text-align: center;
}
h1{
    color: aliceblue;
    background-color: brown;
    padding: 5rem    ;
}

h2{
    background-color: #72ea72;
    padding: 2rem;
}

h3{
    background-color: #ffa900;
    padding: 1rem;
}

button{
    color: white;
    background-color: brown;
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
}